<div class="position-absolute top-50 start-50 translate-middle ">
    <h3>SignIn </h3>

    <form  [formGroup]="signinForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div>
        <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
    </div>
</div>