<div class="container">
    <h3 class="text-center">Explore Products</h3>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card my-3">
          <img [src]="product.imageurl" class="card-img-top" alt="..." height="250px">
          <div class="card-body">
            <h5 class="card-title"><b>Product Name : </b>{{ product.name }}</h5>
            <p class="card-text"><b>Product Description :</b>{{ product.description | slice:0:100 }}{{ product.description.length > 100 ? '...' : '' }}</p>
            <p class="card-text"><b>Product Price :</b>{{ product.price }}</p>
            <p><b>Product Category :</b>{{ product.category }}</p>
            <a (click)="viewProductDetail(product._id)" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  