<div class="container mt-5">

    <h3 class="text-center">Products</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>
                <a routerLink="['/products', product._id]">View Details</a>
            </td>
        </tr>
    </table>

    <div *ngIf="products.length === 0">No products available</div>
</div>